body {
  flex: auto;
  font-family: fantasy;
  background-color: #e1e1ea;
}

img {
  width: 130px;
  height: 70px;
  align-content: center;
}

li {
  list-style: none;
}

.App {
  text-align: center;
}

ul {
  text-align: center;
}

.pais {
  text-align: center;
}